BROKER=alpaca
ALPACA_PAPER=true
ALPACA_API_KEY=PASTE_PAPER_KEY_HERE
ALPACA_API_SECRET=PASTE_PAPER_SECRET_HERE
ALPACA_DATA_FEED=iex

TRADING_ENABLED=false
ALLOW_PAPER_ORDERS=false
ALPACA_LIVE_TRADE=false
